extend ../layout2

block content
  ul
    li
      a(href='/etbs-roles') Roles
    li
      a(href='/etbs-permissions') Permissions
    li
      a(href='/etbs-users') Users
  h1 Roles
  p Welcome to Roles Page
  a(href='/etbs-roles/add') New
  form(method='GET' action='/etbs-roles/get')
    input#filter(type='text' placeholder='Role...' name='filter' value=filter)
    input#sort(type='checkbox' name='sort' value='1' checked=sort ? true : false)
  ul
    each role in roles
      li= 'rolename: ' + role.rolename + ', profileid: ' + role.profileid + ', is_active: ' + role.is_active
        a(href='/etbs-roles/edit/' + role.rolename + '/' + role.profileid) Edit
        = '-'
        a(href='/etbs-roles/remove/' + role.rolename + '/' + role.profileid) Remove
  // http://programmerblog.net/nodejs-mysql-pagination-example-beginners/
  // https://github.com/knopsod/paginationapp
  if pageCount > 1
       ul.pagination
        if currentPage > 1
         li
          a(href='/etbs-roles/?page=1')  &laquo;
        - var x = 1
        if currentPage > 5
         - x = x + (currentPage - 4)
        if (x !== 1)
           li.disabled
              a(href='#') ...
        - for (x; x <= pageCount; x++)
           if( currentPage == x)
            li.active
               span.sr_only
                   = currentPage
           else
             li
               a(href= "/etbs-roles/?page="+x )
                = x
           if x == (currentPage + 4)
               li.disabled
                a(href="#") ...
                - break
        if currentPage != pageCount
        li
            a(href= "/etbs-roles/?page=#{Math.floor(pageCount)}" ) &raquo;
  script(src='https://code.jquery.com/jquery-3.1.1.min.js')
  script.