extend ../layout

block content
  ul
    li
      a(href='/etbs-roles') Roles
    li
      a(href='/etbs-permissions') Permissions
    li
      a(href='/etbs-users') Users
  h1 Roles
  p Welcome to Roles Page
  a(href='/etbs-roles/add') New
  form(method='GET' action='/etbs-roles/get')
    input#filter(type='text' placeholder='Role...' name='filter')
  ul
    each role in roles
      li= 'rolename: ' + role.rolename + ', profileid: ' + role.profileid + ', is_active: ' + role.is_active
        a(href='/etbs-roles/edit/' + role.rolename + '/' + role.profileid) Edit
        = '-'
        a(href='/etbs-roles/remove/' + role.rolename + '/' + role.profileid) Remove
  